* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor Flex para toda la pagina */



/* Fix conetenedor para el hedear */
.backheader {
    background-image: url("../images/backgroundHeader1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 90px;*/
    height: 80vh;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    background: rgba(0, 0, 0, 0.587);
}
nav a:hover {
    background: rgba(0, 0, 0, 0.8);
}



/* Comienzan los Section */
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.contenedorSection1 {
    justify-content: space-between;
    border: 2px solid gray;
    margin: 1%;
}

.contenedorAbout {
    justify-content: space-between;
    /*display: flex;*/
    flex-wrap: wrap;
}
.contenedorAbout0{
    padding-left: 10%;
    /*padding-right: 8%;*/
    width: 65%;
    height: auto;
}
.textBanner {
    margin: 2% 5% 2% 5%;
    color: white;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 1.9em;
    text-align: center;
    padding: 2% 0 2% 0;
}

.contenedorAboutInternal {
    padding-bottom: 5%;
    width: 32%;
    height: 100%;
}
section .imgAboutPosition {
    width: 40%;
    height: 100%;
    top: 10px;
}
.imgAbout {
    width: 100%;
    height: 317px;
}
.textAboutH3 {
    padding-top: 10%;
    font-size: 1.1em;
    color: blueviolet;
    /*text-align: center;*/
    /*white-space: pre-wrap;*/
}

.textAbout2 {
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 1.1em;
    color: black;
    /*text-align: center;*/
    /*white-space: pre-wrap;*/
}

.textAboutH1 {
    padding-top: 10%;
    font-size: 1.3em;
    color: blueviolet;
    text-align: center;

    /*white-space: pre-wrap;*/
}

.textAbout3 {
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 1em;
    color: black;
    text-align: center;
    white-space: pre-line;
}

/*Infra html*/
/*Second section*/

.contenedorInfra {
    justify-content: space-between;
    /*display: flex;*/
}

.contenedorInfra0 {
    padding-left: 10%;
    width: 40%;
    height: auto;
}

.contenedorInfraInternal {
    width: 50%;
    height: 100%;
}

.contenedorInfraInternal1 {
    width: 30%;
    height: 100%;
}

.borderInfra1{
    margin: 3% 1% 3% 1%;
    border: 1px solid lightgray;
    background-color: lightgrey;
}
.imgInfra1{
    width: 100%;
    height: 100%;
}
.imgInfra2{
    padding: 5% 0 5% 15%;
    width: 40%;
    height: 50%;
}
.textInfra2 {
    padding-top: 30%;
    padding-left: 15%;
    font-size: 1.1em;
    color: black;
    width: 80%;
    white-space: pre;
    text-align: center;
}

.textInfra3 {
    padding-top: 5%;
    padding-left: 15%;
    font-size: 1.1em;
    color: black;
    width: 80%;
    white-space: pre;
    text-align: center;
}
.textInfraH3 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.1em;
    text-align: center;
    /*white-space: pre-wrap;*/
}
.textInfraH4 {
    font-size: 1em;
    padding-bottom: 3%;

}

/* HTML Experiencias Applico Grid*/

/*.divUl{*/
/*    grid-area: divUlr;*/
/*}*/

/*.divFoto1{*/
/*    grid-area: divFoto1;*/
/*}*/

.gridContainerExpe {
    display: grid;
    grid-template-areas:
            "divFoto divExp1";
    grid-template-rows: 50% 50% ;
    grid-template-columns: 40% 60%;

}

.item1 {
    grid-area: divFoto;
}
.item2{
    grid-area: divExp1;
    align-items: center
}
.gridContainerExpe1 {
    display: grid;
    margin:  1% 1% 1% 1%;
    grid-template-areas:"divH3 divH3";
    grid-template-rows: 100%;
    border: 1px solid darkgray;
    background-color: lightgray;
}
.item3{
    grid-area: divH3;
    padding-top: 15%
}

.gridContainerExpe2 {
    display: grid;
    margin:  1% 1% 1% 1%;
    grid-template-areas:
            "internalUl1 internalUl2"
            "divFoto1 DivFoto2";
    grid-template-rows: 50% 50% 50% 50%;
    border: 1px  solid #f7f9fa;
    background-color: #f7f9fa;
}
.item4{
    grid-area: internalUl1;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left:  30% ;
}
.item5{
    grid-area: internalUl2;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 30% ;

}
.item6{
    grid-area: divFoto1;
    padding-left: 30%;
}
.item7 {
    grid-area: DivFoto2;
    padding-left: 30%;

}
.imgExp1{
    width: 100%;
}
.h3Exp1{
    padding-top: 2%;
    text-align: center;
}
.imgExp2{
    width: 45%;
}

.imgExp3{
    width: 45%;
}
.textExpH3{
    padding-top: 5%;
    text-align: center;
}
.textExp1{
    white-space: pre;
    text-align: center;
}
.h4Contact {
    text-align: center;
    font-size: 3em;
    padding-bottom: 3%;
}
/*HTML Proyecto*/
.gridProyectos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
            ". . itemH3Proyecto ."
            ". . itemH4Proyecto ."
            "itemH519 itemUl219 .  itemProyectoFoto1"
            "itemH519 itemUl219 .  itemProyectoFoto1"
            "itemH518 itemUl218 .  itemProyectoFoto2"
            "itemH518 itemUl218 .  itemProyectoFoto2"
}
.itemH3Pro19{
    grid-area: itemH3Proyecto ;
}
.itemH4Pro19{
    grid-area: itemH4Proyecto ;
}
.itemH52019{
    grid-area: itemH519;
}

.itemH52018{
    grid-area: itemH518;
}
.itemUl2019 {
    grid-area: itemUl219;
}
.itemUl2018 {
    grid-area: itemUl218;
}
.itemProyectoFoto1{
    grid-area:itemProyectoFoto1 ;
}
.itemProyectoFoto2{
    grid-area:itemProyectoFoto2 ;
}


/*HTML Contacto*/
.gridContainerContac {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
". itemContacto1 itemContacto2 ."
". itemContacto3 itemContacto4 ."
" . itemContacto5 itemContacto5 ."
". itemContacto6 itemContacto6 ."
". itemContacto7 itemContacto7 ."
". . itemContacto8 ."
;
}
.itemName1{
    grid-area: itemContacto1;
    width: 100%;
    padding-bottom: 1%;

}
.itemLastName{
    grid-area: itemContacto2;
    width: 100%;
    padding-bottom: 1%;

}
.itemEmail{
    grid-area: itemContacto3;
    width: 100%;
    padding-bottom: 1%;
}
.itemPhone{
    grid-area: itemContacto4;
    width: 100%;
    padding-bottom: 1%;
}
.itemAsunto{
    grid-area: itemContacto5;
    width: 100%;
    padding-bottom: 1%;
}
.itemMensaje{
    grid-area: itemContacto6;
    width: 100%;
    padding-bottom: 1%;
}
.itemTerminos{
    grid-area: itemContacto7;
    width: 100%;
    padding-bottom: 3%;
}
.itemSubmit{
    grid-area: itemContacto8;
    width: 100%;
}
.itemName1Placeholder{
    width: 95%;
}

.itemLastName1Placeholder{
    width: 90%;
}
.itemLastEmailPlaceholder{
    width: 95%;
}
.itemLastPhonePlaceholder{
    width: 90%;
}
.itemAsuntoPlaceholder{
    width: 95%;
}

.itemMensajePlaceholder{
    width: 95%;
    height: 50vh;
}

.itemTerminosTexto{
    width: 95%;
}


/*Comienza el footer*/
ul li {
    list-style: none;
}

.contenedorFooter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #dfe6ed
}

/*Div Phone*/

.contenedorPhone{
    width: 33%;
    height: 100%;
    /*height: 50%;*/
    align-content: center;
    /*flex-direction: column;*/
}
.textFooterUL {
    text-align: center;
    padding-bottom: 3%;
}
.fa-phone-alt {

    /*padding-right: 10%;*/
    /*content: "\e900";*/
    width: 16px;
    height: 16px;
    color: blueviolet;
}

/*Div Mail*/
.contenedorMail{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.contenedorFooterBorder {
    width: 33%;
    border: 1px solid blueviolet;
}

.fa-envelope:before {
    content: "\e945";
    font-size: 48px;
    color: blueviolet;
    padding-left: 15%;
}

/*button MAIL*/

.btn1 {
    will-change: transform;
    transition: transform 450ms;
}
.btn1:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

.btn1 {
    width: 100px;
    height: 50px;
    border-radius: 25%;
    border: none;
    background: blueviolet;
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}
/*Div Officer*/
.contenedorOfficer{
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
    display: flex;
    width: 33%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.fa-building:before {
    content: "\e903";
    font-size: 48px;
    color: blueviolet;
}
.textFooterH3 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: blueviolet;
    text-align: center;
}



@media (max-width: 576px) {
    .contenedorAboutInternal {
        width: 100%;
    }

    .contenedorAbout0 {
        width: 85%;
    }

    .imgAbout {
        height: 100%;
    }

    .textBanner {
        font-size: 0.7em;
    }

    .textAboutH3 {
        /*text-align: ;*/
        font-size: 1em;
    }

    .textAbout2 {
        font-size: 0.8em;
    }

    .textAboutH1 {
        font-size: 1.1em;
    }

    .contenedorPhone {
        width: 100%;
    }

    .buttonMail {
        font-size: 0.7em;
        width: 30%;
    }

    .contenedorFooterBorder {
        width: 100%;
        border-top: 2px solid blueviolet;
        border-bottom: 2px solid blueviolet;
    }

    .contenedorOfficer {
        width: 100%;
    }

    .icon-office:before {
        padding-left: 90%;
    }

    .textFooterOfficer {
        padding-left: 30%;
        font-size: 0.8em;
    }

    .contenedorAbout {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .contenedorAboutInternal {
        width: 100%;
    }
    .contenedorAbout {
        width: 100%;
    }
    .contenedorAbout0 {
        /* justify-content: space-between; */
        width: 50%;
        /* text-align: center; */
    }
    .divWidth {
        width: 100%;
    }

    .imgAbout {
        width: 50%;
        height: 100%;
    }


    .textBanner {
        font-size: 1em;
    }

    .textAboutH3 {
        /*text-align: ;*/
        font-size: 0.9em;
    }

    .textAbout2 {
        font-size: 0.8em;
    }

    .textAboutH1 {
        font-size: 1.1em;
    }

    /* .contenedorPhone {
        width: 100%;
    }

    .buttonMail {
        font-size: 0.7em;
        width: 30%;
    }

    .contenedorFooterBorder {
        width: 100%;
        border-top: 2px solid blueviolet;
        border-bottom: 2px solid blueviolet;
    }

    .contenedorOfficer {
        width: 100%;
    }

    .icon-office:before {
        padding-left: 90%;
    }

    .textFooterOfficer {
        padding-left: 30%;
        font-size: 0.8em;
    }

    .contenedorAbout {
        width: 100%;
    } */

}