* {
    margin:0;
    padding:0;
}

header.headerNavegacionIndex{
     background-image: url("/images/backgroundHeader1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    /* padding: 80px 1px; */
    height: 500px;
    width: 100%;
}
header.headerNavegacionProyectos{
    background-image: url("../images/backgroundHeader1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   /* padding: 80px 1px; */
   height: 500px;
   width: 100%;
}
/*Nav -  con  position*/

nav .logoDiv, nav .navDiv {
    position: relative;
}
nav .logoDiv { float: left; width: 400px; }
nav .navDiv { float: right; right: 10px; top: 50px; width: auto; }

nav div img {
    padding: 0%;
    margin: 0%;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 0%;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background: rgba(0,0,0,0.3);
}
nav a:hover { background: rgba(0,0,0,0.8);}


/*  first Section index  con position*/


.sectionAbout {
    position: relative;
    border: 1px solid black;
    height: auto;
    width: auto;
}
section div .imgAboutPosition, section div .textAboutPosition { 
    position: relative;
}

section .imgAboutPosition {
    float: left;
    width: 40%;
    height: 100%;
    top: 10px; 
}

.textAboutPosition {
    margin-top: 130px;
    float: right;
    width: 60%;
    height: 100%;
    text-align: center;
}

.imgAbout {
    height: 100%; 
    width: 100%; 
    padding: 0%; 
    margin: 0%;
}

.textAbout1 {
    height: 10%; 
    width: 100%;
    color: blueviolet;
}

.textAbout2 {
    height: 40%; 
    width: 100%;
    color:black;
    white-space:pre-wrap;
}

/* Second Section index con position */

.divBanner{
    float: right;
    margin: 40px 20px;
    border: 1px solid rgb(163, 73, 247);
    background-color: rgb(179, 136, 219);
    border-radius: 20px;
}

.textBanner{
    font-size: 2em;
    text-indent: 50px;
    text-align: center;
    color: white;
    text-align: center;
}

.divInfra

/*third section index con Flexbox*/

.contenedor {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    width: 416px;
    /*height: 40%;*/   
}

.colImg{
    width: 416px;
    height: 316px; 
}

.h1About {
    color: blueviolet;
    margin-top: 15px;
}   

.parrafoAbout{
    white-space:pre-line;
    text-align: center;

}
/*Footer flexbox*/
.contenedorFooter {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.col-footer{
    width: 100%;
    height: 40%;   
    white-space:pre;

}

.bloqueFooter{
    background-color: gray;
}

.bloqueCentralFooter{
    border-left: 2px solid  blueviolet;
    border-right: 2px solid blueviolet;

}

/*Footer flexbox*/

.footContenedoMail{
    text-align: left;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerMail {
    width: 100%;
    height: 50%; 
}

.h3Tittle{
    color: blueviolet;
    font-size: 2em;
}  

